@import '../../assets/styles/utils.scss';

.library_section {
  padding: 24px 0;
  min-height: 150px;
  background: $purpleBg;
  border: 1px solid $purpleBg;
  overflow: hidden;
  .title {
    padding: 0 16px;
  }
  .subtitle {
    padding: 0 16px;
  }

  .wrapper {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }

    .btns {
      display: flex;
      flex-wrap: wrap;
      width: 808px;
      margin: 28px -4px -4px;
      padding: 0 16px;
      @media (min-width: $desktop) {
        justify-content: center;
        width: 100%;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px;
        padding: 10px 8px;
        background: $white;
        border: 1px solid $lightBorder;
        border-radius: 8px;
        transition: $animation;

        &.active {
          background: $blueBg;
          border: 1px solid $blueBorder;
        }

        span {
          margin-left: 6px;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.46;
          color: $black;
        }
      }
    }

    .shelf {
      display: flex;
      min-width: 420px;
      margin: 0 16px 0 12px;
      &.second {
        min-width: 504px;
      }
      &::-webkit-scrollbar {
        width: 0;
      }

      @media (min-width: $desktop) {
        justify-content: center;
        width: 100%;
        margin: 0;
      }
      .elem {
        position: relative;
        width: 72px;
        height: 108px;
        margin: 3px 6px;
        background: transparent;
        transition: $animation;
        &.disable {
          background: #eeebebbd;
        }

        @media (min-width: $desktop) {
          width: 108px;
          height: 162px;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
    }
  }
}
