@import '../../assets/styles/utils.scss';

.reviews_section {
  background: $blueBg;
  border: 1px solid $blueBorder;

  .accent {
    color: $blue;
  }

  .list {
    margin-top: 24px;

    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;

      .item {
        width: calc(50% - 6px);
      }
    }

    .item {
      margin-bottom: 16px;
      padding: 12px;
      background: $white;
      border: 1px solid $lightBorder;
      border-radius: 12px;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.46;
        color: $black;
      }
    }

    .user_info {
      display: flex;
      align-items: center;

      p {
        margin: 0 4px 0 8px;
        color: $lightText;
      }
    }
  }
  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -6px;

    .item {
      width: calc(50% - 6px);
      margin: 6px;
      padding: 20px;
      background: $white;
      text-align: center;
      border: 1px solid $lightBorder;
      border-radius: 12px;

      .store {
        display: flex;
        justify-content: center;
        margin: 0;

        span {
          font-weight: 700;
          font-size: 28px;
          line-height: 1.3;
          &.blue {
            color: $blue;
          }
          &.green {
            color: $green;
          }
        }
        img {
          margin-left: 8px;
        }
      }
      .rStars {
        margin: 6px auto 0;
      }

      .info {
        margin: 4px 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.46;
        color: $lightText;
      }
    }
  }
}
