@import '../../assets/styles/utils.scss';

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  padding: 8px 16px;
  background: #fff8f4;
  z-index: 120;
  @media (min-width: $mobile) {
    margin-left: auto;
    margin-right: auto;
    padding: 8px 5px;
  }

  .logo {
    width: 122px;
  }

  .buttons {
    display: flex;
    align-items: center;

    .headerBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin: 0;
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid transparent;
      border-radius: 8px;
      transition: $animation;

      &:last-child {
        margin-left: 8px;
      }

      img {
        width: 20px;
        height: 20px;
      }

      &:hover,
      &:focus {
        background: $buttonHover;
      }
    }
  }
}
