@import '../../assets/styles/utils.scss';

.footer_section {
  padding-bottom: 80px;
  background: $white;
  border: 1px solid $lightBorder;

  @media (min-width: $mobile) {
    padding-bottom: 24px;
  }

  h2 {
    margin: 20px 0;
    text-align: left;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
  }

  .list {
    display: flex;
    align-items: center;
    margin-top: 8px;

    li {
      margin-right: 12px;
      background: transparent;
      border-radius: 4px;
      transition: $animation;
      &:hover,
      &:focus {
        background: $lightBorder;
      }
    }
  }
}
